<html>
   <head>
      <title>friend's circle</title>
      <link rel="icon" href="/images/favicon.ico">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
      <script type="text/javascript" src="/js/libJS.js"></script>
      <script type="text/javascript" src="/js/friendDetailsJS.js"></script>
      <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
      <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
      <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
         rel="stylesheet" type="text/css">
   </head>
   <body ng-app="SocialMediaPrototypeFriendDetails" ng-controller="friendDetailsController" ng-init="curuser=<%= user %>; GetFriendDetails();">
      <div class="navbar navbar-fixed-top myBackground">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/home"><img height="30" width="150" alt="friend's circle" ng-src="/images/Drawing.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="active" id="homebutton">
                     <div class="row">
                        <form class="navbar-form navbar-right" role="search" name="homeForm" ng-submit="gotoHome()"
                           action="/home" method="get" novalidate="">
                           <button type="submit" ng-disabled="homeForm.$invalid" class="btn btn-primary">Home</button>
                        </form>
                     </div>
                  </li>
                  <li class="active">
                     <form class="navbar-form navbar-right" role="search" name="logoutForm"
                        ng-submit="logoutUesr()" action="/logout" method="post" novalidate="">
                        <button type="button" class="btn btn-primary" ng-click="logout()">Logout</button>
                     </form>
                  </li>
               </ul>
               <p class="navbar-text navbar-right" id="ProfileDisplayLink">
                  <img ng-src="{{curuser.IMAGE_URL}}" alt="profile" style="min-height:40px;height:40px;">
                  <a id="toolbarname" href="/userdetails" class="navbar-link">{{curuser.FIRST_NAME}}</a>
               </p>
            </div>
         </div>
      </div>
      <div class="section">
         <div class="container">
            <div class="row"></div>
         </div>
      </div>
      <div class="section">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <img class="img-responsive" ng-src="{{user.IMAGE_URL}}">
                  <!--                   <form action="/uploadProfilePic" method="post", enctype="multipart/form-data" role="search" name="ProfileImageForm" -->
                  <!--                         ng-submit="uploadProfilePic()" novalidate> -->
                  <!--                         <input type="file" multiple accept='image/*' ng-model="pofilepic" id="pofilepic" name="pofilepic" style="padding: 1px 1px;"  onchange="checkFileType()"> -->
                  <!--                         <button type="submit" ng-disabled="ProfileImageForm.$invalid" class="btn btn-primary" name="submit" style="padding: 1px 1px;background-color:#3B5998;">Upload Picture</button> -->
                  <!--                   </form> -->
               </div>
               <div class="col-md-9">
                  <h1>{{user.FIRST_NAME}} {{user.LAST_NAME}}</h1>
                  <h2>{{user.ABOUT_ME}}.</h2>
               </div>
            </div>
         </div>
      </div>
      <div class="section" ng-controller="AboutFriendController" ng-init="getLifeEvents();">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title"> About</h3>
            </div>
            <div class="panel-body">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        <div id="tabs">
                           <ul class="list-group">
                              <li class="list-group-item" ng-repeat="tab in tabs" 
                                 ng-class="{active:isActiveTab(tab.url)}" 
                                 ng-click="onClickTab(tab)">{{tab.title}}</li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-8">
                        <div id="tabView">
                           <div ng-include="currentTab"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>